@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.aboutPage {
    font-family: 'Kosugi Maru', sans-serif;
    overflow-x: hidden;
    margin: 0%;
}

.aboutPageBanner {
    width: 100vw;
    background: #d4afb979;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    padding: 3vh;
}

.aboutPageDescription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 80vw;
    margin: auto;
    text-align: justify;
}

.creatorCardGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: auto;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.creatorCard {
    display: flex;
    border: 1px solid #d4afb9;
    background: rgba(212, 175, 185, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 12vw;
    width: 21vw;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    font-size: 1vw;
    border-radius: 3%;
}

.creatorCardPicture {
    height: 10vw;
    width: 8vw;
    object-fit: cover;
}

.creatorCardInfo {
    font-family: 'Kosugi Maru';
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
    padding-left: .5vw;
}

.creatorName {
    color: #5e939b;
}
