@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.agent-profile {
    font-family: 'Kosugi Maru', sans-serif;
}

.agent-profile-welcome {
    font-size: 1.25vw;
    border-bottom: 2px solid #d1cfe2;
    width: 80vw;
    margin: auto;
    padding-top: 2vw;
    display: flex;
    justify-content: end;
}

.agent-profile-section {
    display: flex;
    justify-content: space-around;
    margin-top: 8vh;
    align-items: center;
    font-family: 'Kosugi Maru';
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20vw;
}

.agent-profile-pic-info {
    display: flex;
    align-items: center;
}

.agent-profile-pic-update {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

.agent-profile-pic {
    height: 15vw;
    width: 12vw;
    object-fit: cover;
}

.agent-profile-updatebtn {
    background: none;
    border: none;
    text-decoration: underline;
    font-family: 'Kosugi Maru';
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.agent-profile-child-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    list-style-type: none;
    padding: 0;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5vw;
}

.agentProfileContact {
    border: 1px solid #52b2cf;
    background: rgba(126, 196, 207, 0.34);
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20vw;
}

.agentProfileContact p {
    border-top: 1px solid #52b2cf;
    padding-top: 2vw;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.agentProfileEmail {
    border-bottom: 1px solid #52b2cf;
    padding-bottom: 2vw;
}

.agent-select-div {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.agent-select {
    font-family: 'Kosugi Maru', sans-serif;
    width: 15vw;
    border: 1px solid #d4afb9;
    border-radius: 10px;
    background: rgba(212, 175, 185, 0.65);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 1.5vw;
}

.agent-child-card {
    transition: transform 0.5 ease;
}

.agent-child-card :hover {
    transform: scale(1.1);
}

.agent-Buttons {
    display: flex;
    width: 50vw;
    justify-content: space-around;
    margin: auto;
    margin-top: 2vw;
    border-bottom: 2px solid #d1cfe2;
}

.agent-showParents {
    font-family: 'Kosugi Maru', sans-serif;
    background: none;
    border: none;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 50%;
}

.agent-showParents:hover {
    cursor: pointer;
}

.agent-showParents.underlined {
    border-bottom: 2px solid #d1cfe2;
}
