.childCard {
    display: flex;
    border: 1px solid #d4afb9;
    background: rgba(212, 175, 185, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 12vw;
    width: 21vw;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    font-size: 1vw;
}

.childCardPicture {
    height: 10vw;
    width: 8vw;
    object-fit: cover;
}

.childCardInfo {
    font-family: 'Kosugi Maru';
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
}
