@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.childSignupPage {
    font-family: 'Kosugi Maru', sans-serif;
}

.childSignupInput {
    display: flex;
    flex-direction: column;
}

.childSignupInput input {
    border-radius: 10px;
    background: #e1e0ec;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    height: 1.5vw;
    width: 15vw;
    font-size: 0.75vw;
}

.childSignupInput label {
    font-size: 0.75vw;
}

.childSignupInfoForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 5% 20%;
}

.childSignupPageTitle {
    width: 80vw;
    margin: auto;
    border-bottom: 2px solid #d1cfe2;
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.childSignupPageSubitle {
    text-decoration: underline;
    font-size: 0.8vw;
}

.childSignupBtn {
    border: none;
    border-radius: 20px;
    background: #7ec4cf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2vw;
    width: 10vw;
    font-size: 0.8vw;
    margin-top: 8vh;
}

.childSignupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.child-select {
    font-family: 'Kosugi Maru', sans-serif;
    width: 15vw;
    border: 1px solid #D4AFB9;
    border-radius: 10px;
    background: rgba(212, 175, 185, 0.65);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 1.5vw;
}
