@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.childProfile {
    font-family: 'Kosugi Maru', sans-serif;
}

.childProfileWelcome {
    font-size: 2.25vw;
}

.childProfileWelcome {
    border-bottom: 2px solid #d1cfe2;
    width: 80vw;
    margin: auto;
    padding-top: 2vw;
    display: flex;
    justify-content: end;
}

.childProfileInfo {
    display: flex;
    justify-content: space-around;
    margin-top: 8vh;
    align-items: center;
    font-family: 'Kosugi Maru';
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20vw;
}

.childProfileImgInfo {
    display: flex;
    align-items: center;
}

.childProfileImgUpdate {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

.childProfileUpdateBtn {
    background: none;
    border: none;
    text-decoration: underline;
    font-family: 'Kosugi Maru';
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.childProfilePicture {
    height: 15vw;
    width: 12vw;
    object-fit: cover;
}

.childProfileLinks {
    border: 1px solid #52b2cf;
    background: rgba(126, 196, 207, 0.34);
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20vw;
}

.childProfileLinks p {
    border-top: 1px solid #52b2cf;
    padding-top: 2vw;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.childLists {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.childList {
    margin: 3vw;
}

.calendarCard {
    display: flex;
    width: 57vw;
    margin: auto;
    background-color: #d1cfe25e;
}
@media (max-width: 1440px) {
    .childProfileInfo {
        margin-left: 10vw;
    }

    .childProfileContact {
        margin-right: 10vw;
    }
}
