@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.CalenderPage {
    font-family: 'Kosugi Maru', sans-serif;
    display: flex;
    margin: auto;
}

.calendar-header {
    background-color: #d1cfe2;
    color: #000000;
    height: 2vw;
    font-size: 1vw;
    font-style: normal;
    line-height: normal;
}
.calendar-headers {
    color: #000000;
    height: 1vw;
    font-size: 0.75vw;
    font-style: normal;
    line-height: normal;
}

.calendar-Square {
    height: 8vw;
    width: 8vw;
    border: 2px solid #d1cfe2;
    margin: 0;
    padding: 0;
    position: relative;
}
.calendar-Square-date {
    position: absolute; /* Position the content absolutely */
    top: 0; /* Align to the top */
    right: 0; /* Align to the right */
    text-align: right; /* Align text to the right */
    padding: 4px; /* Add some padding */
    color: #333; /* Optional: Set text color */
}
