@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.Footer {
    background: #d4afb9;
    height: 7vw;
    min-height: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Kosugi Maru', sans-serif;
}

.footerTop {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 2px solid #52b2cf;
    width: 80vw;
    margin: auto;
    padding: 1vw;
    padding-bottom: 1vw;
}

.footerLeft a {
    margin-left: 3vw;
    text-decoration: none;
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: black;
}

.footerImg {
    height: 1.25vw;
}

.footerBottom {
    padding-left: 5vw;
    font-size: 0.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

@media (max-width: 768px) {
    .Footer {
        height: auto;
    }

    .footerTop {
        flex-direction: column;
        align-items: center;
        padding: 2vw;
    }

    .footerLeft a {
        margin: 0.5vw 0;
        font-size: 1vw;
    }

    .footerImg {
        height: 2vw;
    }

    .footerBottom {
        padding-left: 2vw;
        font-size: 1vw;
    }
}

@media (max-width: 480px) {
    .footerLeft a,
    .footerBottom {
        font-size: 2vw;
    }

    .footerImg {
        height: 3vw;
    }
}
