.hamburger-menu {
    position: relative;
    padding-right: 1vw;
}

.menu-icon {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 24px;
    padding: 3px;
    background: transparent;
    border: none;
    outline: none;
    border-radius: 5px;
    margin-right: 25px;
}

.menu-icon .bar {
    width: 1.5vw;
    height: 3px;
    background: white;
    transition: 0.3s;
}

.menu-icon.open .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
}

.menu-icon.open .bar:nth-child(2) {
    opacity: 0;
}

.menu-icon.open .bar:nth-child(3) {
    transform: translateY(-10px) rotate(-45deg);
}

.menu-items {
    position: absolute;
    top: 6vh;
    right: 0;
    background: rgba(126, 196, 207, 0.404);
    padding: 3vh;
    display: flex;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 2px 2px #504d4d;
}

.menu-items a {
    text-decoration: none;
    color: black;
    margin-bottom: 10px;
    margin-left: 1vw;
    font-size: 1vw;
}

.logoutButton {
    background: none;
    border: none;
    text-decoration: none;
    color: black;
    font-size: 1vw;
}

@media (max-width: 768px) {
    .menu-icon {
        width: 25px;
        height: 20px;
    }

    .menu-icon .bar {
        width: 25px;
        height: 2px;
    }

    .menu-items {
        padding: 2vh;
        flex-direction: column;
    }

    .menu-items a,
    .logoutButton {
        font-size: 2vw;
    }
}
