@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.homePage {
    font-family: 'Kosugi Maru', sans-serif;
    overflow-x: hidden;
    margin: 0%;
}

.homePageCoverimg {
    width: 100vw;
    max-height: 75vh;
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.homePageButtons {
    display: flex;
    justify-content: space-around;
    margin-top: 5vh;
}

.homepageLogos {
    height: 20vh;
}

.homeButton {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #d1cfe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 30vw;
    width: 30vw;
    max-height: 30vh;
    max-width: 30vh;
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
    margin-left: 10vw;
}

.homeButton1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: #7ec4cf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 30vw;
    width: 30vw;
    max-height: 30vh;
    max-width: 30vh;
    font-size: 1.2vw;
    text-decoration: none;
    color: black;
    margin-right: 10vw;
}

.homePageBanner {
    width: 100vw;
    background: #d4afb979;
    display: flex;
    justify-content: center;
    margin-top: 5vh;
    padding: 3vh;
}

.homePageBanner h1 {
    color: #000;
    text-align: center;
    font-family: 'Kosugi Maru';
    font-size: 3.5vh;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.homePageImgs {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.homePageImgs img {
    margin: 3.5vh;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 15vw;
}

.homePageDescriptions {
    display: flex;
    justify-content: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.homePageDescription1 {
    border: 1px solid #d4afb9;
    background: rgba(212, 175, 185, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 15vw;
    padding: 1.5vw;
    text-align: center;
    margin: 2.5vh;
}

.homePageDescription2 {
    border: 1px solid #52b2cf;
    background: rgba(126, 196, 207, 0.43);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 15vw;
    padding: 1.5vw;
    text-align: center;
    margin: 2.5vh;
}

.homePageDescription3 {
    border: 1px solid #d4afb9;
    background: rgba(209, 207, 226, 0.65);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 15vw;
    padding: 1.5vw;
    text-align: center;
    margin: 2.5vh;
}

.homePageSlogan {
    display: flex;
    justify-content: center;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
