@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.incidentList {
    font-family: 'Kosugi Maru';
    border: 1px solid #d4afb9;
    background: rgba(212, 175, 185, 0.35);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70vw;
    margin: auto;
    height: 15vw;
    overflow: scroll;
    overflow-x: hidden;
}

.incidentListTitle {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.5vw;
    font-size: 1.2vw;
}

.incidentList th {
    border-bottom: 1px solid #d4afb9;
}

.incidentList td {
    height: 1.5vw;
    font-size: 0.75vw;
    overflow: hidden;
    text-align: center;
}

.incidentList table tr:nth-child(even) {
    background-color: #d4afb9;
}

.incidentList table {
    width: 65vw;
    margin: auto;
}

.incidentListImg {
    height: 1.5vw;
}

.incidentListDelete,
.incidentListEdit {
    background: none;
    border: none;
    height: 0.75vw;
}

.incidentListDelete:hover,
.incidentListEdit:hover {
    cursor: pointer;
}
