@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.addIncidentForm {
    font-family: 'Kosugi Maru', sans-serif;
}

.incidentFormInput {
    display: flex;
    flex-direction: column;
}

.incidentFormCheck input {
    background-color: #e1e0ec;
    height: 1.5vw;
    width: 15vw;
    font-size: 0.75vw;
}

.incidentFormInput input {
    border-radius: 10px;
    background: #e1e0ec;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    height: 1.5vw;
    width: 15vw;
    font-size: 0.75vw;
}

.incidentFormInput textarea {
    border-radius: 10px;
    background: #e1e0ec;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    height: 5vw;
    width: 31vw;
    font-size: 0.75vw;
}

.incidentFormTextarea {
    margin-top: 20px;
}

.incidentFormCheck label,
.incidentFormInput label {
    font-size: 0.75vw;
}

.incidentFormCheck input[type='checkbox'] {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #e1e0ec;
    width: 1.5vw;
    height: 1.5vw;
    border-radius: 3px;
    cursor: pointer;
    vertical-align: middle;
    position: relative;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.incidentFormCheck input[type='checkbox']:checked {
    background: #7ec4cf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}

.incidentFormCheck input[type='checkbox']:checked::after {
    content: '✓';
    color: white;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 1vw;
}

.incidentFormTitle {
    width: 80vw;
    margin: auto;
    border-bottom: 2px solid #d1cfe2;
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.incidentFormBtn {
    border: none;
    border-radius: 20px;
    background: #7ec4cf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2vw;
    width: 10vw;
    font-size: 0.8vw;
    margin-top: 8vh;
}

.incidentForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.incidentInfoForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: auto;
}
