@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.medicationList {
    font-family: 'Kosugi Maru';
    border: 1px solid #52b2cf;
    background: rgba(126, 196, 207, 0.43);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70vw;
    margin: auto;
    height: 15vw;
    overflow: scroll;
    overflow-x: hidden;
}

.medicationListTitle {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.5vw;
    font-size: 1.2vw;
}

.medicationList th {
    border-bottom: 1px solid #52b2cf;
}

.medicationList td {
    height: 1.5vw;
    font-size: 0.75vw;
    overflow: hidden;
    text-align: center;
}

.medicationList table tr:nth-child(even) {
    background-color: #52b2cf;
}

.medicationList table {
    width: 65vw;
    margin: auto;
}

.medicationListImg {
    height: 1.5vw;
}

.medicationListDelete,
.medicationListEdit {
    background: none;
    border: none;
    height: 0.75vw;
}

.medicationListDelete:hover,
.medicationEdit:hover {
    cursor: pointer;
}
