@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.medicalApptList {
    font-family: 'Kosugi Maru';
    border: 1px solid #d1cfe2;
    background: rgba(209, 207, 226, 0.65);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70vw;
    margin: auto;
    height: 15vw;
    overflow: scroll;
    overflow-x: hidden;
}

.medicalApptListTitle {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.5vw;
    font-size: 1.2vw;
}

.medicalApptList th {
    border-bottom: 1px solid #d1cfe2;
}

.medicalApptList td {
    height: 1.5vw;
    font-size: 0.75vw;
    overflow: hidden;
    text-align: center;
}

.medicalApptList table tr:nth-child(even) {
    background-color: #d1cfe2;
}

.medicalApptList table {
    width: 65vw;
    margin: auto;
}

.medicalApptListImg {
    height: 1.5vw;
}

.medicalApptListDelete,
.medicalApptListEdit {
    background: none;
    border: none;
    height: 0.75vw;
}

.medicalApptListDelete:hover,
.medicalApptEdit:hover {
    cursor: pointer;
}
