@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

body {
    margin: 0%;
}
.NavBar {
    background-color: #7ec4cf;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Kosugi Maru', sans-serif;
    box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.887);
}

.fosterLogo {
    height: 3.5vw;
    margin-left: 0.5vw;
}

.navLeft {
    display: flex;
    align-items: flex-end;
}

.navLeft h1 {
    font-size: 1.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0%;
}

@media (max-width: 768px) {
    .NavBar {
        height: auto;
        padding: 1vw 0;
    }

    .fosterLogo {
        height: 6vh;
        margin-left: 2vw;
    }

    .navLeft {
        align-items: center;
    }

    .navLeft h1 {
        font-size: 2.5vw;
        margin: 0.5vw 0;
    }
}

@media (max-width: 480px) {
    .navLeft h1 {
        font-size: 3vh;
    }

    .fosterLogo {
        height: 5vh;
    }
}
