@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.parentSignupPage {
    font-family: 'Kosugi Maru', sans-serif;
}

.parentSignupInput {
    display: flex;
    flex-direction: column;
}

.parentSignupInput input {
    border-radius: 10px;
    background: #e1e0ec;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    height: 1.5vw;
    width: 15vw;
    font-size: 0.75vw;
}

.parentSignupInput label {
    font-size: 0.75vw;
}

.parentSignupAccountInfoForm,
.parentSignupFamilyInfoForm {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: auto;
}

.parentSignupPageTitle {
    width: 80vw;
    margin: auto;
    border-bottom: 2px solid #d1cfe2;
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.parentSignupPageSubitle {
    text-decoration: underline;
    font-size: 0.8vw;
}

.parentSignupBtn {
    border: none;
    border-radius: 20px;
    background: #7ec4cf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2vw;
    width: 10vw;
    font-size: 0.8vw;
    margin-top: 8vh;
}

.parentSignupForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}
