@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.parentLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parentLoginTitle {
    font-family: 'Kosugi Maru';
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10vh;
    margin-bottom: 5vh;
}

.parentLoginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d1cfe2;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 30vw;
    height: 35vh;
    margin: auto;
}

.parentLoginFormInput {
    display: flex;
    flex-direction: column;
}

.parentLoginFormInput label {
    font-family: 'Kosugi Maru';
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.parentLoginFormInput input {
    width: 20vw;
    height: 4vh;
    flex-shrink: 0;
    border-radius: 10px;
    background: rgba(126, 196, 207, 0.39);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    margin-bottom: 2vh;
    font-size: 1vw;
}

.parentLoginFormButton {
    width: 10vw;
    height: 4vh;
    flex-shrink: 0;
    border: none;
    border-radius: 10px;
    background: #52b2cf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    color: #fff;
    font-family: 'Kosugi Maru';
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
