@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.parentProfile {
    font-family: 'Kosugi Maru', sans-serif;
}

.parentProfileWelcome {
    font-size: 1.25vw;
}

.parentProfileChildrenGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    list-style-type: none;
    padding: 0;
    margin-left: 25vw;
    margin-right: 25vw;
    margin-top: 5vw;
}

.parentProfileChildrenGrid a {
    text-decoration: none;
}

.parentProfileWelcome {
    border-bottom: 2px solid #d1cfe2;
    width: 80vw;
    margin: auto;
    padding-top: 2vw;
    display: flex;
    justify-content: end;
}

.parentProfileInfo {
    display: flex;
    justify-content: space-around;
    margin-top: 8vh;
    align-items: center;
    font-family: 'Kosugi Maru';
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 20vw;
}

.parentProfileImgInfo {
    display: flex;
    align-items: center;
}

.parentProfileImgUpdate {
    display: flex;
    flex-direction: column;
    margin-right: 2vw;
}

.parentProfileUpdateBtn {
    background: none;
    border: none;
    text-decoration: underline;
    font-family: 'Kosugi Maru';
    font-size: 0.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.parentProfilePicture {
    height: 15vw;
    width: 12vw;
    object-fit: cover;
}

.parentProfileContact {
    border: 1px solid #52b2cf;
    background: rgba(126, 196, 207, 0.34);
    width: 15vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20vw;
}

.parentProfileContact p {
    border-top: 1px solid #52b2cf;
    padding-top: 2vw;
    font-size: 1vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parentProfileEmail {
    border-bottom: 1px solid #52b2cf;
    padding-bottom: 2vw;
}

.parentProfileTotalComp {
    padding-top: 0.75vw;
}

@media (max-width: 1440px) {
    .parentProfileChildrenGrid {
        margin-left: 15vw;
        margin-right: 15vw;
    }

    .parentProfileInfo {
        margin-left: 10vw;
    }

    .parentProfileContact {
        margin-right: 10vw;
    }
}

.parent-child-card {
    transition: transform .5 ease;
}

.parent-child-card :hover {
    transform: scale(1.1);
}
