@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.addToyForm {
    font-family: 'Kosugi Maru', sans-serif;
}

.toyFormInput {
    display: flex;
    flex-direction: column;
}

.toyFormCheck input {
    background-color: #e1e0ec;
    height: 1.5vw;
    width: 15vw;
    font-size: 0.75vw;
}

.toyFormInput input {
    border-radius: 10px;
    background: #e1e0ec;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    height: 1.5vw;
    width: 15vw;
    font-size: 0.75vw;
}

.toyFormInput textarea {
    border-radius: 10px;
    background: #e1e0ec;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    border: none;
    height: 5vw;
    width: 31vw;
    font-size: 0.75vw;
}

.toyFormTextarea {
    margin-top: 20px;
}

.toyFormInput label {
    font-size: 0.75vw;
}

.toyFormTitle {
    width: 80vw;
    margin: auto;
    border-bottom: 2px solid #d1cfe2;
    font-size: 1.75vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 8vh;
    margin-bottom: 8vh;
}

.toyFormBtn {
    border: none;
    border-radius: 20px;
    background: #7ec4cf;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 2vw;
    width: 10vw;
    font-size: 0.8vw;
    margin-top: 8vh;
}

.toyForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.toyInfoForm {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin: auto;
}
