@import url('https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap');

.toyList {
    font-family: 'Kosugi Maru';
    border: 1px solid #52b2cf;
    background: rgba(82, 178, 207, 0.42);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 70vw;
    margin: auto;
    height: 15vw;
    overflow: scroll;
    overflow-x: hidden;
}

.toyListTitle {
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.5vw;
    font-size: 1.2vw;
}

.toyList th {
    border-bottom: 1px solid #7ec4cf;
}

.toyList td {
    height: 1.5vw;
    font-size: 0.75vw;
    overflow: hidden;
    text-align: center;
}

.toyList table tr:nth-child(even) {
    background-color: #7ec4cf;
}

.toyList table {
    width: 65vw;
    margin: auto;
}

.toyListImg {
    height: 1.5vw;
}

.toyListDelete,
.toyListEdit {
    background: none;
    border: none;
    height: 0.75vw;
}

.toyListDelete:hover,
.toyListEdit:hover {
    cursor: pointer;
}
